.header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;  /*Fixes the header at the top of the page*/
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
}

.logo {
    height: 60px; 
    width: auto;
    border: 0px;
}

main {
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 300px;
    height: 225px;
    border: 2px solid black;
}

#logo{
    margin-top: 20px;
    width: 300px;
    height: 225px;
    border: 2px solid black;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}


.user-image {
    max-width: 100%; /* 确保图片适应宽度 */
    height: auto;
}

.information-inline-container {
    display: inline-block;
    align-items: center; /* 使容器内的内容在同一行显示 */
    margin: 5px 0;
}
.textspace {
    display: inline; /* 使 user-name 在同一行 */
    margin-left: 5px; /* 添加一些左侧间距 */
}

